<% yield # Does not do anything, just to load content_for %>
<div class="site-main">
  <%= render 'layouts/sidebar' %>
  <div class="site-content common-datatable">
    <div class="inventory-top bg-white d-sm-flex justify-content-between border-bottom mb-25">
      <% if content_for? :head_title %>
        <div class="site-content-head">
          <div class="row">
            <div class="col-sm-12">
              <%= yield :head_title %>
            </div>
          </div>
        </div>
      <% end %>
      <% if content_for? :head_buttons %>
        <div class="download-area d-flex align-items-center justify-content-end flex-wrap leads_icons pl-0">
          <%= yield :head_buttons %>
        </div>
      <% end %>
    </div>
    <% if content_for? :body %>
      <div class="site-content-data">
        <div class="content position-relative lead_page">
          <%= yield :body %>
        </div>
      </div>
    <% end %>
    <% if content_for? :extra_divs %>
      <%= yield :extra_divs %>
    <% end %>
  </div>
</div>

