<% time_span = find_time_difference_in_minutes(meeting[:start_time], meeting[:end_time]) %>

<div class="col-sm-6 <%= meeting[:category] %> mt-25">
  <div class="calendar_card shape_card border-0 <%= meeting[:category] %>" data-meeting-title="<%= meeting[:title] %>" data-organizer-role="<%= meeting[:role_of_organizer] %>" data-meeting-time="<%= time_span %> min" data-url="<%= meeting[:url] %>" data-start-time="<%= meeting[:start_time]%>" data-end-time="<%= meeting[:end_time]%>" data-meeting-date="<%= meeting[:start_str].to_datetime.strftime('%a, %b %d, %Y') %>" data-attendees="<%= meeting[:attendees] %>" data-organizer="<%= meeting[:created_by] %>">
    <div class="d-flex align-items-center justify-content-between">
      <p class="fw-600 fs-13"><%= meeting[:start_time] %></p>
      <p class="fw-600 fs-12"><%= time_span %> min</p>
    </div>
    <p class="fw-600 fs-14 m-0"><%= meeting[:title] %></p>
    <p class="fw-600 fs-13"><%= meeting[:category]&.titleize %></p>
  </div>
</div>