<div class="site-main">
  <%= render 'layouts/sidebar'%>
  <div class="site-content">
    <div class="site-content-head">
      <div class="row">
        <div class="col-sm-12">
          <div class="l-menu">
            <span class="main-menu-sitecontent">Inventories</span>
            <span class="sub-menu-sitecontent m-x-10"><i class="fa fa-angle-right"></i></span>
            <span class="sub-menu-sitecontent">Import CSV to inventories</span>
          </div>
          <div class="pull-right">
            <%= link_to "Back", inventories_path , class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    </div>
    <div class="cmn-tab-div">
      <div class="row">
        <div class="col-sm-12">
          <div class="site-content-data ">
            <div class="table-list">
              <%= form_tag import_map_inventories_path, multipart: true do %>
                <div class='row'>
                  <div class='col-md-6'>
                    <div class="form-group">
                      <%= label_tag :select_file %>
                      <%= file_field_tag :import, class: 'form-control', accept: 'text/csv', required: true %>
                      <p>Please Select CSV file only.</p>
                    </div>
                  </div>
                </div>
                <div class='row'>
                  <div class='col-md-6'>
                    <%= submit_tag "Upload CSV", class: "btn btn-success" %>
                    <%= link_to "Sample CSV", root_url + "import-example-inventory.csv" , class: 'site-content-head-btn' %>
                  </div>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cmn-tab-div">
      <div class="row">

        <div class="col-sm-12">
          <div class="site-content-data ">
            <div class="table-responsive import-table">
              <table class="common-data-table" >
                <thead>
                <th>NAME</th>
                <th>NEW RECORDS</th>
                <th>UPDATED RECORDS</th>
                <th>ERROR COUNT</th>
                <th>USER</th>
                <th>CREATED</th>
                </thead>
                <tbody>
                <% @import_data_csvs.each do |record|%>
                  <tr>
                    <td>
                      <div class="d-flex d-flex-wrap">
                        <div class="import-filename">
                          <%= record.document.documentable.try(:attachment).try(:file).try(:filename) %>
                        </div>
                        <!-- <a href="javascript:void(0)" class="dropdown-toggle site-content-head-btn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                        <span class="nav-cell blue-font"> More
                          <span class="caret"></span>
                        </span>
                        </a>
                        <ul class="dropdown-menu">
                           <li>
                             <%= link_to "Download File", record.document.documentable.attachment.url, class: 'dropdown-item'%>
                           </li>
                           <li>
                             <%= link_to "Download Error File", record.document.attachment.url, class: 'dropdown-item'%>
                           </li>

                        </ul> -->
                        <div class="import-file-more">
                          <div class="dropdown">
                            <button class="import-file-more-btn dropdown-toggle" type="button" data-toggle="dropdown">More
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                              <li>
                                <%= link_to "Download File", record.document.documentable.attachment.url, class: 'dropdown-item'%>
                              </li>
                              <li>
                                <%= link_to "Download Error File", record.document.attachment.url, class: 'dropdown-item'%>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                    </td>
                    <!-- <td><%#= link_to record.document.try(:attachment).try(:file).try(:filename), record.document.attachment.url%></td> -->

                    <td>
                      <%=record.data['create_count']%>
                    </td>
                    <td>
                      <%=record.data['update_count']%>
                    </td>
                    <td>
                      <%=record.data['error_count']%>
                    </td>
                    <td>
                      <%= record.user.fullname%>
                    </td>
                    <td><%= record.created_at.strftime("%m/%d/%Y, %I:%M %p")%></td>

                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="modalContainer" class='modal-right'></div>
  <div id="importfiled"></div>
</div>
<script>
  $(document).ready(function() {
    $(".dropdown-toggle").dropdown();
    $('.table-responsive').on('show.bs.dropdown', function () {
      $('.table-responsive').css( "overflow", "inherit" );
    });

    $('.table-responsive').on('hide.bs.dropdown', function () {
      $('.table-responsive').css( "overflow", "auto" );
    });
  });
</script>
