 <div class="modal fade" id="task_modal" role="dialog">
  <div class="modal-dialog">

    <%= form_for task, class: "form-inline", remote: true, html: {multipart: true} do |f| %>
      <div id='flash_message'></div>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Task</h4>
        </div>
        <div class="modal-body">
          <% if taskable.present? && taskable.class.name != 'Company' %>
            <%= f.hidden_field :taskable, value: "#{taskable.class.name}:#{taskable.id}"%>
          <% else %>
            <div class='row block-ui-box m-t-5 m-r-5'>
              <p class="title">
                <h3 class="title m-l-10 p-b-5"></h3>
              </p>

              <div class='col-md-6 '>
                <div class="form-group ">
                  <%= f.label :company_name %>
                  <%= f.select :taskable, grouped_options_for_select(grouped_options, "#{f.object.taskable_type}:#{f.object.taskable_id}",),
                    {:prompt => 'Select Company Name'}, {:class=>"form-control select_modules",:style=>"width:100%;",  "data-live-search" => "true", :id=>"selectData"} %>
                </div>
              </div>
            </div>
          <% end %>
          <%= render 'form', task: task,users: users, f: f %>

          <%#= f.hidden_field :taskable_type, value: f.object.taskable_type %>
          <%#= f.hidden_field :taskable_id, value: f.object.taskable_id %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit class: 'btn btn-success' %>
        </div>
      </div>

    <% end %>

  </div>
</div>


<script>
  $(document).ready(function(){
    $('#selectData').selectpicker();
    $('.btn.dropdown-toggle.btn-default').on('click', function(){
        $(".btn-group.bootstrap-select.form-control.select_modules").addClass('open');
    });
    $(".remove-file").on('click', function(){
      var id = $(this).data('id');
      var object_id = "<%= task.id %>"
      var object_type = "<%= task.class.name %>"
      $.ajax({
        url: "/documents/" + id + "?object_id=" + object_id + ";object_type=" + object_type,
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        type: 'delete',
        data: {
          id: id,
          file_remove: true
        },
        dataType: "script",
        success: function(result){

        }
      });
      $(this).siblings(".file-name").addClass("hidden");
      $(this).addClass("hidden");
    });
  });
</script>
