<% klass.groups.each do |group|%>
  <div class="dynmic-tab-div">
    <div class="row">
      <div class="col-sm-12">
        <div class="dynmic-tab-div-header">
          <span class="heading"><%= group.label%></span>
          <div class="pull-right">

          </div>
        </div>
        <div class="dynmic-tab-div-data">
          <div class="row">
           <% group.fields.each do |field|%>
             <div class="col-sm-6 border-right">
               <div class="row">
                 <div class="col-md-4">
                   <span class="info-title "><%= field.name == "attachment" ? "Attachment" : field.label %></span>

                 </div>
                 <div class="col-md-6 editable" data-id="<%=task.id %>" data-klass='Lead' data-field="<%= field.name%>" data-deletable="<%= field.deletable%>" >
                  <span class="info-dynamic-data value">
                    <% case field.name %>
                    <% when  "user_id" %>
                      <%= task.user.fullname %>
                    <% when  "due_to" %>
                      <%= task.send(field.name)&.strftime("%m/%d/%Y, %I:%M %p") %>
                    <% when  "email_reminder" %>
                      <%= task.send(field.name)&.strftime("%m/%d/%Y, %I:%M %p") %>
                    <% when "attachment"%>
                      <% if task.documents.present?  %>
                        <% task.documents.each do |attach| %>
                          <div class="col-md-12">
                            <%= link_to attach.attachment.url, target: 'blank', title: attach.attachment.file.filename do %>
                              <i class="fa fa-file" aria-hidden="true"></i>
                              <%= attach.attachment.file.filename.truncate(20 ) %>
                            <%end%>
                          </div>
                        <% end %>
                      <% else %>
                        No Attachment Added
                      <% end %>
                    <%#= link_to task.send(field.name).file.filename,task.send(field.name).url, target: 'blank' %>
                    <% else %>
                      <% if field.column_type == "Text Area HTML" %>
                        <%= task.send(field.name).html_safe %>
                      <% else %>
                       <%= task.send(field.name) %>
                      <% end %>
                    <% end %>
                  </span>
                   <div class="form-group field hidden">
                       <%#= render partial: 'forms/field', locals: { f: f, field_name: field.name, field_label: nil, column_type: field.column_type, custom: field.custom, have_custom_value: field.have_custom_value, data: data, field: field, value: lead.send(field.name), disp_lable: false } %>
                   </div>
                 </div>
               </div>

             </div>
            <%end%>
          </div>
          <%#= link_to "Back", back_to_task_path(task), remote: true , class: 'btn btn-success'%>
        </div>

      </div>
    </div>
  </div>
<%end%>
