<div class="dynmic-tab-div directory-structure">
  <div class="row">
    <div class="col-sm-12">
      <div class="dynmic-tab-div-header">
        <span class="heading">Contracts</span>
        <div class="pull-right">
          <%= link_to new_contract_contract_path(contractable: contractable.to_polymorphic), class: "site-content-head-btn" do %>
            + New Contract
          <% end %>
        </div>
      </div>
      <div class="dynmic-tab-div-data ">
        <div class="row">
          <div class="col-sm-12">
            <div class="site-content-data">
              <div class="table-list">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="site-content-data">
                      <div class="table-list">
                        <div class="table-responsive">
                          <table class="common-data-table">
                            <thead>
                              <th class="action">Action</th>
                              <th>Title</th>
                              <th>Created At</th>
                              <th>Created By</th>
                            </thead>
                            <tbody>
                            <% contractable.contracts.each do |contract| %>
                              <tr>
                                <td>
                                  <div class="btn-wrapper">
                                    <div class="action-icon">
                                      <%= link_to edit_contract_contract_path(contract) do %>
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                      <% end %>
                                    </div>
                                    <div class="action-icon">
                                      <%= link_to contract_contract_path(contract), method: :delete, data: { confirm: "Are you sure you want to Delete this Contract?" } do %>
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                      <% end %>
                                    </div>
                                  </div>
                                </td>
                                <td><%= contract.title %></td>
                                <td><%= pretty_date_time contract.created_at %></td>
                                <td><%= contract.user.fullname %></td>
                              </tr>
                            <% end %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
