<body>
  <div id="wrapper">
    <section>
       <div class="container">
          <div class="row row-eq-height">
             <div class="col-lg-4 col-md-5 col-sm-12 text-center pad-0">
                <div class="login-left-back">
                   <%= image_tag asset_path('bacancy-logo-black.svg'), class: "img-responsive left-main-logo" %>
                   <p class="login-left-first-p">BACANCY CRM</p>
                   <p class="login-left-second-p">A powerful, yet easy-to-use application for managing our customers.</p>
                    <div class="login-left-wrapper">
                      <%= image_tag asset_path('launcher.png'), class: "login-left-img" %>
                   </div>
                </div>
              </div>
							<div class="col-lg-8 col-md-7 col-sm-12 pad-0">
                <div class="container-login-center">
                  <div class="login-wrapper">
                    <div class="login-cmn-wrapper text-center">
                      <!-- <img src="/assets/iPos-logo.png" class="img-responsive main-logo"> -->
                      <%= image_tag asset_path('bacancy-logo-black.svg'), class: "img-responsive main-logo" %>
                        <p class="sign-title"> </p>

												<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
												  <%#= render "devise/shared/error_messages", resource: resource %>

												  <div class="row">
                          	<div class="col-sm-12">
                            	<div class="form-group">
                                <div class="input-group">
                                	<div class="input-group-addon">
                                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                  </div>
												    			<%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email Address", class: 'form-control' %>
												    			<div class="error-msg">
												    				<%= f.object.errors.full_message(:email, f.object.errors[:email].join('')) if f.object.errors.present?%>
												    			</div>
												  			</div>
												  		</div>
												  	</div>
												  </div>

												  <div class="row">
                            <div class="col-sm-8 clearfix">
												    	<%= f.submit "Send me reset password instructions",  class: "login-btn" %>
												    </div>
												    <%= render "devise/shared/links" %>
												  </div>
												<% end %>
                    </div>
                  </div>
                  <%= render 'layouts/login_footer'%>
                </div>
              </div>
          </div>
        </div>
    </section>
  </div>
<body>

<style>
  .login-left-img{width: 82%}
  body{background-color: #ffffff}
  .login-cmn-wrapper{box-shadow:0px 0px 0px #fff}
  .input-group{border:1px solid #e0e0e0;border-radius:5px}
  .form-control{border: 0;padding: 0px 0px;}
  select {border: none;background: transparent;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding-top: 0px;background-size: 20px;color:#ffffff;font-size:30px;}
</style>

