<% @groups.each do |group| %>
  <div class = 'row block-ui-box m-t-5 m-r-5'>
    <p class="title">
      <h3 class="title m-l-10 p-b-5"><%= group.label %></h3>
    </p>
    <% group.fields.each do |field| %>
      <div class="<%= field.column_type == "Text Area HTML" ? 'col-md-12' : 'col-md-6' %>">
        <div class="form-group">
          <%= render partial: 'forms/field', locals: {f: f, field_name: field.name.to_underscore, field_label: field.label, column_type: field.column_type, custom: field.custom, have_custom_value: field.have_custom_value,data: @data, field: field, value: message.send(field.name)}  %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<%= f.hidden_field :resourcable_type, value: current_contact.class.name %>
<%= f.hidden_field :resourcable_id, value: current_contact.id %>
