
  <div class='row'>
    <div class='col-md-6'>
      <div class="form-group">
        <%= label_tag :company_name %>
        <%= f.text_field :company_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= label_tag :lead_no %>
        <%= f.text_field :lead_no, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= label_tag "First name" %>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= label_tag "Last name" %>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= label_tag "Primary phone" %>
        <%= f.text_field :primary_phone, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= label_tag "Secondary phone" %>
        <%= f.text_field :secondary_phone, class: 'form-control' %>
      </div>
    </div>

    <div class='col-md-6'>
      <div class="form-group">
        <%= label_tag "Primary Email" %>
        <%= f.text_field :primary_email_id, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag "Secondary Email" %>
        <%= f.text_field :secondary_email_id, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag "Lead status" %>
        <%= f.select :lead_status, options_for_select(Lead.lead_statuses.map{|k,v|[k.humanize.capitalize, k]}, lead.lead_status), {}, class: 'form-control'  %>
      </div>
      <div class="form-group">
        <%= label_tag "Select user" %>
        <%= f.select :user_id, options_from_collection_for_select(users, :id, :first_name, lead.user_id),{}, {class: 'form-control'} %>
      </div>
      <div class="form-group">
        <%= label_tag "Description" %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-6'>
      <div class="form-group">
        <%= label_tag "Street address" %>
        <%= f.text_area :street_address, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag "Zip code" %>
        <%= f.text_field :zip_code, class: 'form-control' %>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class="form-group">
        <%= label_tag "City" %>
        <%= f.text_field :city, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag "State" %>
        <%= f.text_field :state, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class='row' id='fields'>
    <%#= f.fields_for :fields do |field| %>
      <%#= render 'field_fields', f: field %>
      <%#= f.fields_for :fields do |field| %>
      <%#= field.text_field :name, class: 'form-control' %>
      <%#= field.text_field :column_type, class: 'form-control' %>
      <%#= field.text_field :value, class: 'form-control' %>
    <%#end%>
    <div class="col-md-12 links">
      <%#= link_to 'add_fields', 'javascript:void(0)', id: 'add-field'%>

        <%#= link_to_add_association '+ Add field', f, :fields %>
    </div>

  </div>
  



<script>
  $(document).ready(function(){
    $("#add-field").on('click', function(){
      var fieldsId = $('.fields-data').length;
      $("#new-fields").append('<div class="col-md-12 fields-data"> <div class="col-md-4"> <input class="form-control" type="text" name="lead[fields_attributes][' + fieldsId +'][name]" > </div><div class="col-md-4"> <input class="form-control" type="text" name="lead[fields_attributes]['+ fieldsId +'][column_type]"></div><div class="col-md-4"><input class="form-control" type="text" name="lead[fields_attributes]['+ fieldsId +'][value]"> </div> <input type="hidden" name="lead[fields_attributes][' + fieldsId +'][fieldable_type]" value="Lead"> </div>');
    });
  });
</script>
