<div class="col-sm-12 m-b-20">
  <div class="site-content-data">
    <div class="table-list">
      <div class="table-responsive">
        <table class="common-data-table table-bordered table-hover">
          <thead>
            <th>Total Leads</th>
            <% sales_assign_to_group.each do |assign_to, count| %>
              <th><%= assign_to %></th>
            <% end %>
          </thead>
          <tbody>
          <tr>
            <td><%= leads.count %></td>
            <% sales_assign_to_group.each do |assign_to, count| %>
              <td><%= count %></td>
            <% end %>
          </tr>
          <% sales_lead_statuses.each do |sales_lead_status| %>
            <tr>
              <td><%= sales_lead_status %></td>
              <% sales_assign_to_group.each do |assign_to, count| %>
                <td><%= leads_by_sales_group[[assign_to, sales_lead_status]] %></td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
