<% @groups.each do |group|%>
  <div class='row block-ui-box m-t-5 m-r-5'>
    <p class="title">
      <h3 class="title m-l-10 p-b-5"><%= group.label%></h3>
    </p>

    <%group.fields.each do |field|%>
    <div class= <%= ["Text Area HTML", "File"].include?(field.column_type) ? 'col-md-12' : 'col-md-6' %>>
        <div class="form-group ">
          <%= render partial: 'forms/field', locals: { f: f, field_name: field.name, field_label: field.label, column_type: field.column_type, custom: field.custom, have_custom_value: field.have_custom_value, data: @data, field: field, value: ticket.send(field.name)} %>
        </div>
      </div>
    <%end%>

    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :assigned_to %><span class="required">*</span>
        <%= select_tag 'user_ids[]', options_from_collection_for_select(current_user.all_user_of_related_company, :id, :fullname, f.object.ticket_users.first&.user_id), include_blank: 'Select Assigned To', required: true, class: 'form-control' %>
      </div>
    </div>
  </div>

<% end %>

<script>
  $(document).ready(function(){
    $(".remove-file").on('click', function(){
      var id = $(this).data('id');
      $.ajax({
        url: "/documents/" + id,
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        type: 'delete',
        data: {
          id: id,
          file_remove: true
        },
        dataType: "script",
        success: function(result){

        }
      });
      $(this).siblings(".file-name").addClass("hidden");
      $(this).addClass("hidden");
    });
    $('#files').on('change', function (e) {
      if(!e.target.files) return;
      var files = e.target.files;
      for(var i=0; i<files.length; i++) {
        var f = files[i];
        var datafile = new FormData();
        datafile.append('resourcable_type', "<%= current_user.class.name %>");
        datafile.append('resourcable_id', "<%= current_user.id %>" );
        datafile.append('documentable_type', "<%= @system_directory.class.name %>");
        datafile.append('documentable_id', "<%= @system_directory.id %>" );
        datafile.append('attachment', f);
        $.ajax({
          url: "<%= uploadfiles_url %>",
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          type: 'POST',
          contentType: false,
          cache: false,
          processData: false,
          data: datafile,
          success: function(res, file){
            documentId = res["d_id"];
            $document_ids.push(documentId);
            $.ajax({
              url: "<%= selected_documents_documents_path %>",
              beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
              type: 'GET',
              data: {
                document_ids: $document_ids
              },
              dataType: "script",
              success: function(result){
              }
            });
            $('.document_ids').val($document_ids);
          }
        });
      }
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function(){
    var AUTH_TOKEN=$('meta[name="csrf-token"]').attr('content');
    Dropzone.autoDiscover = false;
    var myDropzone = new Dropzone("div#mydropzone",{
      url: "<%= request.base_url %>/uploadfiles",
      autoProcessQueue: false,
      uploadMultiple: true,
      addRemoveLinks:true,
      parallelUploads:10,
      params:{
        'authenticity_token':  AUTH_TOKEN
      },
      successmultiple: function(data,response){
        $('#msgBoard').append(response.message).addClass("alert alert-success");
        $('#msgBoard').delay(2000).fadeOut();
        $('#fileslist').val(response.filesList);
        $('.form-inline').off('submit').submit();
      }
    });
    $('.form-inline').submit(function(e){
      if(myDropzone.getQueuedFiles().length > 0){
        e.preventDefault();
        myDropzone.processQueue();
      }
    });
  });
</script>
