<div class="dynmic-tab-div directory-structure">
  <div class="row">
    <div class="col-sm-12">
      <div class="dynmic-tab-div-header">
        <span class="heading"><%= @from_page == 'index' ? "Ticket" : '' %></span>
        <div class="pull-right">
          <a href="javascript:void(0)" class="dropdown-toggle site-content-head-btn pull-right m-r-10" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

          <span class="nav-cell blue-font"> Action
            <span class="caret"></span>
          </span>
          </a>
          <ul class="dropdown-menu edit-menu">
             <li>
              <%= link_to "Edit Column", actions_settings_path(klass_id: ticket_klass.id, url: tickets_path(ticketable_type: object.class, ticketable_id: object.id)), class: 'dropdown-item', remote: true%>
             </li>
             <li>
               <%= link_to "Edit Properties", module_settings_path(klass_id: ticket_klass.id), class: 'dropdown-item'%>
             </li>
          </ul>
          <% if checked_permission?(current_user, @klass_list['Ticket'], @action_list['delete'])%>

            <a href="javascript:void(0)" class="site-content-head-btn" id='destroy_all_tickets'>
              Delete
            </a>
          <%end%>
          <% if checked_permission?(current_user, @klass_list['Ticket'], @action_list['create'])%>
            <%= link_to new_ticket_path( ticketable_type: object.class, ticketable_id: object.id ), remote: true, class: "site-content-head-btn" do %>
              + Add Ticket
            <%end%>
          <%end%>
        </div>
      </div>
      <div class="dynmic-tab-div-data ">
        <div class="row">
          <div class="col-sm-12">
            <div class="site-content-data">
              <div id="ticket-list" class="table-list content position-relative lead_page ticket_page">
                <div class="admin-table bg-white table-responsive p-4">
                <table class="common-data-table table table-bordered text-center lead_table display no-footer dataTable">
                  <thead>
                  <tr>
                    <th>Action</th>
                    <% ticket_fields.each do |field| %>
                      <th><%= field.label %></th>
                    <% end %>
                    <th>Assigned To</th>
                    <th>Created By</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% object.tickets.each do |ticket| %>
                    <tr>
                      <td>
                        <div class="btn-wrapper">
                          <div class="action-icon">
                            <%= link_to ticket_path(ticket) do %>
                              <i class="fa  fa-eye" aria-hidden="true"></i>
                            <% end %>
                          </div>
                          <div class="action-icon">
                            <%= link_to edit_ticket_path(ticket),remote: true do %>
                              <i class="fa fa-pencil" aria-hidden="true"></i>
                            <% end %>
                          </div>
                          <div class="action-icon">
                            <%= link_to ticket_path(ticket), data: { confirm: "Are you sure you want to Delete this?" }, method: :delete, remote: true do %>
                              <i class="fa fa-trash " aria-hidden="true"></i>
                            <% end %>
                          </div>
                        </div>
                      </td>
                      <% ticket_fields.each do |field| %>
                        <td><%= pretty_value(field, ticket) %></td>
                      <% end %>
                      <td><%= ticket.users.collect(&:fullname).join(', ') %></td>
                      <td><%= ticket.owner.fullname %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $(".dropdown-toggle").dropdown();
  });
</script>
