
<div role="tabpanel" class="tab-pane fade in active" id="tab1">
  <div class="col-md-12">

    <div class="site-content-data pr15 pl15">
      <div class="row cl-both" >
        <div class="col-sm-5">
          <!--<div class="d-flex flex-align-center cm-dasboard-serach">
            <label class="blue-font">Show </label><select name="leads_length" aria-controls="leads" class="form-control"><option value="50">50</option><option value="100">100</option></select> <label>entries</label>
          </div>-->
        </div>
        <!-- <div class="col-sm-7">
          <div class="d-flex flex-align-center cm-dasboard-serach m-b-10 pull-right">
            <label class="d-inline-block">Search</label>
            <input type="search" class="form-control d-inline-block" placeholder="Search here" aria-controls="leads" id="search-view">
          </div>
        </div> -->
      </div>


      <div class="col-sm-12 m-r-20 m-t-15 m-b-15">
       <%= ticket.description.html_safe %>
      </div>


      <div id="overview-data">
        <% overviews.each do |date, data|%>
          <div id="myTable">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="date-heading mt15">
                  <span>
                    <%#= project.created_at.strftime("%m/%d/%Y") %>
                    <%= date == Date.today ? "Today" : date&.strftime("%m/%d/%Y")%>
                  </span>
                </h2>
              </div>
            </div>

            <div class="ticket-overview table-responsive">
              <table width="100%" class="sub-table">
                <% data.each do |message_doc| %>
                  <tr>
                    <%if message_doc.class.name == 'Message'%>
                      <td style="padding:5px 0px;" width="5%"><a href="" class="msg-com-btn msg-btn"> Comment</a></td>
                      <td class="ticket-overview-link" width="45%">
                        <span style="word-break: break-word;">
                          <%=  message_doc.description.html_safe %>
                        </span>
                      </td>
                      <td class="text-right" width="50%" class="ticket-overview-link">

                        <% if message_doc.resourcable == current_user && message_doc.messageable.status != "Close" %>
                          <div class="btn-wrapper dis-inline-flex">
                            <div class="action-icon">
                              <%= link_to ticket_message_reply_edit_path(ticket,message_doc), remote: true do %>
                                <i class="fa fa-pencil " aria-hidden="true"></i>
                              <% end %>
                            </div>
                            <div class="action-icon">
                              <%= link_to ticket_message_reply_delete_path(ticket,message_doc, object: 'Message'),method: :delete,remote: true do %>
                                <i class="fa fa-trash " aria-hidden="true"></i>
                              <% end %>
                            </div>
                          </div>
                        <% end %>

                        <span class="posted-by">Posted by</span>
                        <span class="posted-by-name"><%= message_doc.resourcable.fullname%> at <%= message_doc.created_at.strftime("%I:%M %p")%></span>
                      </td>

                    <% elsif message_doc.class.name == 'DocumentDocumentable'%>
                      <td style="padding:5px 0px;" width="5%"><a href="" class="msg-com-btn doc-btn">Document</a></td>
                      <td class="ticket-overview-link" width="45%">
                        <span class="">
                          <%= link_to message_doc.document.attachment.file.filename, message_doc.document.attachment.url, class: "text-break-word" %>
                        </span>
                      </td>
                      <td class="text-right" width="50%">
                        <% if message_doc.document.resourcable == current_user %>
                          <div class="btn-wrapper dis-inline-flex">
                            <div class="action-icon">
                              <%= link_to ticket_message_reply_delete_path(ticket,message_doc,object: 'Document'),method: :delete,remote: true do %>
                                <i class="fa fa-trash " aria-hidden="true"></i>
                              <% end %>
                            </div>
                          </div>
                        <% end %>

                        <span class="posted-by">Posted by</span>
                        <span class="posted-by-name"><%= message_doc.document.resourcable.fullname%> at <%= message_doc.created_at.strftime("%I:%M %p")%></span>
                      </td>
                    <%end%>
                  </tr>
                <%end%>
              </table>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
  <% if ticket.status != "Close" %>
    <%= form_for ticket.messages.build, method: :post, class: 'form-inline', html: { multipart: true } do |f|%>
      <div class="row">
        <div class="col-md-12">
          <div class="dynmic-tab-div-header dynmic-tab-sub-header inner-header">
            <div class="d-flex">
              <div class="heading-wrapper">
              </div>
              <div class="new-msg-div">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" pl15 pr15">
        <div class="row">

          <div class="col-md-12 mb10">
            <%= f.label "Comment"%>
            <%= f.cktext_area :description, class: 'form-control', style: "width:85%", id: '3' %>
          </div>
          <%= hidden_field_tag :ticket_id, ticket.id %>
          <%#= f.hidden_field :taskable_id, value: f.object.taskable_id %>
          <div class="col-md-12 mb10">

            <%= f.label "Attachment"%>
            <br/>
            <input type="file" name="attachments[]" id="file" class="inputfile" multiple />
            <label for="file" title='Upload Local Files' class="btn btn-default">Upload Files</label>
            <div class= 'row' id="file-upload-filename"></div>
            <%= hidden_field_tag :document_ids, [], class: 'document_ids'%>
            <div class="row m-t-15">

              <div class="col-md-12 ">
                <div class='selected_documents'>
                  <%= render partial: 'documents/selected_documents', locals: { documents: [] } %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb10">
            <%= f.submit "Comment", class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    <%end%>
  <% end %>
</div>
<script>
$(document).ready(function(){
  $("#search-view").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#overview-data #myTable tr").filter(function() {
      $(this).toggle($('td:nth-child(2)',this).text().toLowerCase().indexOf(value) > -1)
    });
  });

  $('#file').on('change', function (e) {
      if(!e.target.files) return;
      var files = e.target.files;
      for(var i=0; i<files.length; i++) {
        var f = files[i];
        var datafile = new FormData();
        datafile.append('resourcable_type', "<%= current_user.class.name %>");
        datafile.append('resourcable_id', "<%= current_user.id %>" );
        datafile.append('documentable_type', "<%= @system_directory.class.name %>");
        datafile.append('documentable_id', "<%= @system_directory.id %>" );
        datafile.append('attachment', f);
        $.ajax({
          url: "<%= uploadfiles_url %>",
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          type: 'POST',
          contentType: false,
          cache: false,
          processData: false,
          data: datafile,
          success: function(res, file){
            documentId = res["d_id"];
            $document_ids.push(documentId);
            $.ajax({
              url: "<%= selected_documents_documents_path %>",
              beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
              type: 'GET',
              data: {
                document_ids: $document_ids
              },
              dataType: "script",
              success: function(result){
              }
            });
            $('.document_ids').val($document_ids);
          }
        });
      }
    });


});
</script>
