<div id="success_message"></div>
<div class="site-main">
  <%= render 'layouts/sidebar' %>
  <div class="site-content common-datatable">
    <div class="inventory-top bg-white d-sm-flex justify-content-between border-bottom mb-25">  
      <div class="site-content-head">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="admin-main-title text-darkgray1 mb-0 pr-2 m-0 d-inline dark-gray-font text-capitalize"> Clients </h2>
            <h2 class="admin-main-title text-darkgray1 mb-0 pr-2 m-0 d-inline light-gray-font"> <i class="fa fa-angle-right"></i> </span>
            <h2 class="admin-main-title text-darkgray1 mb-0 pr-2 m-0 d-inline light-gray-font text-capitalize"> Client Contact </h2>
              <!-- <%= link_to client_contacts_contacts_path, class: "sub-menu-sitecontent" do %> My Contact <% end %>-->
          </div>
        </div>
      </div>
      <div class="download-area d-flex align-items-center justify-content-end flex-wrap leads_icons pl-0">
        <% if checked_permission?(current_user, @klass_list['Contact'], @action_list['create'])%>
          <%= link_to new_contact_path(contactable_type: 'Client'), remote: true, class: "nowrap" do %>
            <i class="mr-2">
              <%= image_tag asset_path('add_lead.svg') %>
            </i>Add Contact
          <%end%>
        <% end %>
        <% if checked_permission?(current_user, @klass_list['Contact'], @action_list['delete'])%>
          <a href="javascript:void(0)" class="nowrap" id='destroy-contact'>
           <i class="mr-2">
              <img
                src="https://goipos.com/assets/inventory/ic_delete-875be21a3b970ef664be13838c01234c0c7314a48b52b6843a1a6a80e6cc89b9.svg"
                width="23">
            </i>Delete
          </a>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="site-content-data">
          <div id="contact-list-index" class="table-list">
            <%= render partial: "contact_list", locals: {contacts: @contacts }%>
          </div>
        </div>
      </div>
    </div>
    <div id="modalContainer" class='modal-right'></div>
    <div id="importfiled"></div>
    <div id='modalContainerCenter'></div>
  </div>
</div>
<style>
  #contact-list-index .btn-wrapper, #contact-list .btn-wrapper{width: 90px}
</style>
