<div id="success_message"></div>
<%= render 'components/site_content_2' do %>
  <% content_for :head_title do %>
    <h2 class="admin-main-title text-darkgray1 mb-0 pr-2 m-0 d-inline dark-gray-font text-capitalize"> Vendors </h2>
    <h2 class="admin-main-title text-darkgray1 mb-0 pr-2 m-0 d-inline light-gray-font"> <i class="fa fa-angle-right"></i> </span>
    <h2 class="admin-main-title text-darkgray1 mb-0 pr-2 m-0 d-inline light-gray-font text-capitalize"> Vendor Contact </h2>
  <% end %>
  <% content_for :head_buttons do %>
    <% if checked_permission?(current_user, @klass_list['Contact'], @action_list['create'])%>
      <%= link_to new_contact_path(contactable_type: 'Vendor'), remote: true, class: "nowrap" do %>
        <i class="mr-2">
          <%= image_tag asset_path('add_lead.svg') %>
        </i>Add Contact
      <%end%>
    <% end %>
    <% if checked_permission?(current_user, @klass_list['Contact'], @action_list['delete'])%>
      <a href="javascript:void(0)" class="nowrap" id='destroy-contact'>
        <i class="mr-2">
          <%= image_tag asset_path('ic_delete.svg') %>
        </i>Delete
      </a>
    <% end %>
  <% end %>
  <% content_for :body do %>
    <div id="contact-list-index" class="table-list">
      <%= render partial: "contact_list", locals: {contacts: @contacts }%>
    </div>
  <% end %>
  <% content_for :extra_divs do %>
    <div id="modalContainer" class='modal-right'></div>
    <div id="importfiled"></div>
    <div id='modalContainerCenter'></div>
  <% end %>
<% end %>
