<div class="modal fade" id="modal" role="dialog">
  <div class="modal-dialog">
    <%= form_for vendor, remote: true, class: "form-inline", html: {multipart: true} do |f| %>
      <div id='flash_message'></div>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Vendor</h4>
        </div>
        <div class="modal-body">
          <% Vendor.klass.groups.each do |group| %>
            <% if group.fields.quick_creatable.present? %>
              <div class='row block-ui-box'>
                <p class="title">
                <h3 class="title m-l-10 p-b-5"><%= group.label %></h3></p>
                <% group.fields.quick_creatable.each do |field| %>
                  <div class= <%= ["Text Area HTML", "File"].include?(field.column_type) ? 'col-md-12' : 'col-md-6' %>>
                    <div class="form-group ">
                      <%= render partial: 'forms/field', locals: {f: f, field_name: field.name, field_label: field.label, column_type: field.column_type, custom: field.custom, have_custom_value: field.have_custom_value, data: @fields_picklist_data, field: field, value: field.column_type == 'File' ? '' : vendor.send(field.name)} %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <% if f.object.new_record? %>
            <div class = 'row block-ui-box m-t-5 m-r-5'>
              <p class="title">
              <h3 class="title m-l-10 p-b-5">
                Contacts
                <%= link_to_add_association 'Add Contacts', f, :contacts, data: { association_insertion_node: "[data-vendor-contacts-fields]", association_insertion_method: :append}, class: 'site-content-head-btn pull-right'%>
              </h3>
              </p>
              <div class='col-md-12' data-vendor-contacts-fields>
                <div class="invoice-btn">
                  <%= f.fields_for :contacts do |contact| %>
                    <%= render 'contact_fields', f: contact %>
                    <%= contact.hidden_field :is_primary, value: true %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit class: 'btn btn-success' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  $(document).ready( function () {
    var location = document.getElementById("modal").getElementsByClassName("street_address");
    var options = {};
    var autocomplete = new google.maps.places.Autocomplete(location[location.length-1], options);
    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      var place = autocomplete.getPlace();

      var componentForm = {
        street_number: 'short_name',
        address1: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'long_name',
        country: 'long_name',
        postal_code: 'short_name'
      };
      var streetAddress = ""

      place.address_components.forEach(function(e) {
        let placeType = e.types[0];
        let addressTypeArr = componentForm[placeType];
        if (placeType == "locality") {
          $("#modal .city").val(e[addressTypeArr]);
        } else if (placeType == "postal_code") {
          $("#modal .zip_code").val(e[addressTypeArr])
        } else if (placeType == "administrative_area_level_1") {
          $("#modal .state").val(e[addressTypeArr])
        }
        else{
          if (e[addressTypeArr] != undefined){
            if(streetAddress == ""){
              streetAddress = e[addressTypeArr];
            }else{
              streetAddress += ", " + e[addressTypeArr];
            }
          }
        }
      });
    });

    var pacContainerInitialized = false;
    $('#modal .street_address').on('keyup keypress keydown', function() {
      if (!pacContainerInitialized) {
        $('.pac-container').css('z-index', '9999');
        pacContainerInitialized = true;
      }
    });
    $('#modal .street_address').on('keyup keypress keydown', function(event) {
      var keyCode = event.keyCode || event.which;
      if (keyCode === 13) {
        event.preventDefault();
        return false;
      }
    });
  });
</script>
