<%= render 'components/site_content_2' do %>
  <% content_for :head_title do %>
    <h2 class="admin-main-title text-darkgray1 mb-0 pr-2 m-0 dark-gray-font text-capitalize">Devices</h2>
  <% end %>
  <% content_for :head_buttons do %>
    <!-- <div class="pull-right"> -->
      <%#= link_to 'Add Device', new_purchase_order_device_path, class: 'site-content-head-btn' %>
    <!-- </div> -->
    <%= link_to new_purchase_order_device_path, class: 'nowrap' do %>
      <i class="mr-2">
        <%= image_tag asset_path('add_lead.svg') %>
      </i>Add Device
    <% end %>
  <% end %>
  <% content_for :body do %>
    <div class="table-responsive">
      <table class="table table-bordered common-data-table">
        <thead>
        <tr>
          <th>Device Category</th>
          <th>iPos Products / Services</th>
          <th>Specification</th>
          <th>Price</th>
          <th width="5%">Payment Options</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @devices.each do |category, devices| %>
          <tr>
            <td rowspan="<%= devices.count + 1 %>"><%= category %></td>
          </tr>
          <% devices.each do |device| %>
            <tr>
              <td><%= device.name %></td>
              <td><%= device.products.map{|product| product.name}.join('<br/>').html_safe %></td>
              <td><%= pretty_amount device.products_price %></td>
              <td class="text-center"><%= device.payment_options.pluck(:payment_type).join(' ') %></td>
              <td>
                <%= link_to 'Edit', edit_purchase_order_device_path(device), class: 'btn btn-primary' %>
                <%= link_to 'Delete', purchase_order_device_path(device), method: :delete, data: {confirm: "Are you sure you want to delete?"}, class: 'btn btn-danger' %>
              </td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
