<div class="site-main">
  <%= render 'layouts/contacts_sidebar'%>
  <div class="site-content site-content-data">
    <div class="white-bg pl10 pr10 pb10 pt10">
      <div class="row">
        
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-7">
              <div class="d-flex d-flex-wrap sm-justify-center">
                <div class="dropdown">
                  <!-- profile image -->
                  <div id="conatct_profile_picture">
                    <%= render partial: 'contact_profile', locals: { current_contact: current_contact } %>
                  </div>
                  
                </div>
                <!-- <div class="profile-circle-main" id="profile_image"></div>  -->

                <div class="profile-circle-title">
                  <div class="d-flex d-flex-wrap ">
                    <h2 class="" id="fullname_contact"><span><%= current_contact.fullname %></span></h2>
                    <a data-remote="true" href="<%= edit_contacts_contact_path(current_contact) %>" class="ml10" remote="true">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                  </div>
                  <span style="font-size:14px;display:block;"><%= current_contact.email  %> </span>
                  <span style="font-size:14px;display:block;"><b>Company:</b> <%= current_contact.lead_client_contact.contactable.company_name  %> </span>
                </div>
              </div>
             
              <div id="phone">
                <%= render partial: 'phone_edit', locals: { current_contact: current_contact } %>
              </div>
                <!-- first name and last name update  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modalContainer"></div>
<div id="uploadContainer"></div>
<script type="text/javascript">



</script>
