<div class="site-left-sidebar">
  <div class="sidebar-backdrop"></div>
    <div class="custom-scrollbar">
      <ul class="sidebar-menu">
        <li class="with-sub dropdown-none">
          <a href="<%= root_path%>" aria-haspopup="true">
            <span class="menu-icon">
              <i class="fa fa-dashboard" aria-hidden="true"></i>
            </span>
            <span class="menu-text"> Dashboard</span>
          </a>
          <ul class="sidebar-submenu collapse">
            <a href="<%= root_path%>" aria-haspopup="true">
              <li class="menu-subtitle menu-subtitle-nodropdown">Dashboard</li>
            </a>
          </ul>
        </li>
         <li class="with-sub">
         <a href="javascript:void(0)" aria-haspopup="true">
            <span class="menu-icon"><i class="fa fa-life-ring" aria-hidden="true"></i></span>
            <span class="menu-text"> SUPPORT</span>
         </a>
         <ul class="sidebar-submenu collapse">
            <li class="menu-subtitle">SUPPORT</li>
            <li>
               <a href="<%= contacts_tickets_path %>" aria-haspopup="true">
               <span class="menu-icon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
               <span class="menu-text">   Tickets</span>
               </a>
            </li>
         </ul>
         </li>
        <li class="with-sub">
          <a href="javascript:void(0)" aria-haspopup="true">
            <span class="menu-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
            <span class="menu-text">PROJECTS</span>
          </a>

          <ul class="sidebar-submenu collapse">
            <li class="menu-subtitle">PROJECTS</li>
            <li>
              <a href="<%= contacts_projects_path%>" aria-haspopup="true">
                <span class="menu-icon"><i class="fa fa-sitemap" aria-hidden="true"></i></span>
                <span class="menu-text"> Projects Dashboard</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="with-sub">
          <a href="javascript:void(0)" aria-haspopup="true">
            <span class="menu-icon"><i class="fa fa-folder" aria-hidden="true"></i></span>
            <span class="menu-text">File Drive</span>
          </a>
          <ul class="sidebar-submenu collapse">
            <li class="menu-subtitle">File Drive</li>
            <li>
              <a href="<%= contacts_directories_path %>" aria-haspopup="true">
                <span class="menu-icon"><i class="fa fa-folder" aria-hidden="true"></i></span>
                <span class="menu-text"> File Drive </span>
              </a>
            </li>
            <li>
              <a href="<%= system_files_contacts_directories_path %>" aria-haspopup="true">
                <span class="menu-icon"><i class="fa fa-folder" aria-hidden="true"></i></span>
                <span class="menu-text"> System Files </span>
              </a>
            </li>

          </ul>
        </li>

        <li class="with-sub">
         <a href="javascript:void(0)" aria-haspopup="true">
            <span class="menu-icon"><i class="fa fa-clipboard main-fa" aria-hidden="true"></i></span>
            <span class="menu-text"> Inventory</span>
         </a>
         <ul class="sidebar-submenu collapse">
            <li class="menu-subtitle">Inventory</li>
            <!--li>
               <%= link_to new_inventory_group_path do %>
               <span class="menu-icon " style="top:-2px;"><i class="fa fa-plus" aria-hidden="true"></i></span>
               <% end %>
               <%= link_to inventory_groups_path, "aria-haspopup" => "true", style: "display: inline-block;margin-top:-20px;", class:'pd-inv' do %>
               <span class="menu-text"> Inventory Groups</span>
               <% end %>
            </li-->
            <li>
               <%= link_to contacts_inventories_path, "aria-haspopup" => "true", style: "display: inline-block;margin-top:-20px;", class:'pd-inv' do %>
               <span class="menu-text"> Inventory</span>
               <% end %>
            </li>
            <li></li>
         </ul>
         </li>
         <li class="with-sub">
            <a href="javascript:void(0)" aria-haspopup="true">
              <span class="menu-icon"><i class="fa fa-file-text" aria-hidden="true"></i></span>
              <span class="menu-text"> Invoice</span>
            </a>
            <ul class="sidebar-submenu collapse">
              <li class="menu-subtitle">Invoice</li>
              <li>
                <%= link_to contacts_invoices_path, "aria-haspopup" => "true", style: "display: inline-block;margin-top:-20px;", class:'pd-inv' do %>
                  <span class="menu-text">Invoices</span>
                <% end %>
              </li>
            </ul>
         </li>
      </ul>
    </div>
  </div>

<div class="site-right-sidebar">
   <div class="custom-scrollbar">
      <ul class="nav nav-tabs" role="tablist">
         <li class="active">
            <a href="#tab-chat" data-toggle="tab" role="tab">Chat</a>
         </li>
         <li class="nav-item">
            <a href="#tab-todo" data-toggle="tab" role="tab">Todo</a>
         </li>
         <li class="nav-item">
            <a href="#tab-settings" data-toggle="tab" role="tab">Settings</a>
         </li>
      </ul>
      <div class="tab-content">
         <div class="tab-pane active" id="tab-chat" role="tabpanel">
            <div class="sidebar-chat animated fadeIn">
               <ul class="media-list">
                  <li class="media">
                     <a href="javascript:void(0)">
                        <div class="media-left">
                           <div class="avatar box-40">
                              <%#= image_tag asset_path('2.png'), class: 'img-circle', alt: '', width: '40', height: '40' %>
                              <span class="status top right bg-success"></span>
                           </div>
                        </div>
                        <div class="media-body">
                           <h5 class="media-heading"><%= current_contact.fullname%></h5>
                           <p class="text-muted m-b-0">How are you?</p>
                        </div>
                        <div class="media-right">
                           <span class="badge bg-danger">2</span>
                        </div>
                     </a>
                  </li>
                  <li class="media">
                     <a href="javascript:void(0)">
                        <div class="media-left">
                           <div class="avatar box-40">
                              <%#= image_tag asset_path('2.png'), class: 'img-circle', alt: '', width: '40', height: '40' %>
                              <span class="status top right bg-warning"></span>
                           </div>
                        </div>
                        <div class="media-body">
                           <h5 class="media-heading">Landon Graham</h5>
                           <p class="text-muted m-b-0">Meeting at 16:00 in the conference room.</p>
                        </div>
                     </a>
                  </li>
                  <li class="media">
                     <a href="javascript:void(0)">
                        <div class="media-left">
                           <div class="avatar box-40">
                              <%#= image_tag asset_path('2.png'), class: 'img-circle', alt: '', width: '40', height: '40' %>
                              <span class="status top right bg-success"></span>
                           </div>
                        </div>
                        <div class="media-body">
                           <h5 class="media-heading">Ron Carran</h5>
                           <p class="text-muted m-b-0">No problem. Thank's for reminder!</p>
                        </div>
                        <div class="media-right">
                           <span class="badge bg-danger">5</span>
                        </div>
                     </a>
                  </li>
                  <li class="media">
                     <a href="javascript:void(0)">
                        <div class="media-left">
                           <div class="avatar box-40">
                              <%#= image_tag asset_path('2.png'), class: 'img-circle', alt: '', width: '40', height: '40' %>
                              <span class="status top right bg-success"></span>
                           </div>
                        </div>
                        <div class="media-body">
                           <h5 class="media-heading">Airi Satou</h5>
                           <p class="text-muted m-b-0">No problem. The only thing i need is time.</p>
                        </div>
                        <div class="media-right">
                           <span class="badge bg-danger">2</span>
                        </div>
                     </a>
                  </li>
                  <li class="media">
                     <a href="javascript:void(0)">
                        <div class="media-left">
                           <div class="avatar box-40">
                             <%#= image_tag asset_path('2.png'), class: 'img-circle', alt: '', width: '40', height: '40' %>
                              <span class="status top right bg-warning"></span>
                           </div>
                        </div>
                        <div class="media-body">
                           <h5 class="media-heading">Angelica Ramos</h5>
                           <p class="text-muted m-b-0">Yep. We talked about it this morning.</p>
                        </div>
                     </a>
                  </li>
                  <li class="media">
                     <a href="javascript:void(0)">
                        <div class="media-left">
                           <div class="avatar box-40">
                             <%#= image_tag asset_path('2.png'), class: 'img-circle', alt: '', width: '40', height: '40' %>
                              <span class="status top right bg-success"></span>
                           </div>
                        </div>
                        <div class="media-body">
                           <h5 class="media-heading">Ashton Cox</h5>
                           <p class="text-muted m-b-0">Can't wait for the public launch!</p>
                        </div>
                        <div class="media-right">
                           <span class="badge bg-danger">5</span>
                        </div>
                     </a>
                  </li>
                  <li class="media">
                     <a href="javascript:void(0)">
                        <div class="media-left">
                           <div class="avatar box-40">
                              <%#= image_tag asset_path('2.png'), class: 'img-circle', alt: '', width: '40', height: '40' %>
                              <span class="status top right bg-success"></span>
                           </div>
                        </div>
                        <div class="media-body">
                           <h5 class="media-heading">Bradley Greer</h5>
                           <p class="text-muted m-b-0">Ok. Just let me know.</p>
                        </div>
                        <div class="media-right">
                           <span class="badge bg-danger">2</span>
                        </div>
                     </a>
                  </li>
                  <li class="media">
                     <a href="javascript:void(0)">
                        <div class="media-left">
                           <div class="avatar box-40">
                              <%#= image_tag asset_path('2.png'), class: 'img-circle', alt: '', width: '40', height: '40' %>
                              <span class="status top right bg-warning"></span>
                           </div>
                        </div>
                        <div class="media-body">
                           <h5 class="media-heading">Brenden Wagner</h5>
                           <p class="text-muted m-b-0">Fantastic...</p>
                        </div>
                     </a>
                  </li>
                  <li class="media">
                     <a href="javascript:void(0)">
                        <div class="media-left">
                           <div class="avatar box-40">
                              <%#= image_tag asset_path('2.png'), class: 'img-circle', alt: '', width: '40', height: '40' %>
                              <span class="status top right bg-success"></span>
                           </div>
                        </div>
                        <div class="media-body">
                           <h5 class="media-heading">Wolfe Stevie</h5>
                           <p class="text-muted m-b-0">I know. Fingers crossed!</p>
                        </div>
                        <div class="media-right">
                           <span class="badge bg-danger">5</span>
                        </div>
                     </a>
                  </li>
               </ul>
            </div>
            <div class="sidebar-chat-window animated fadeIn">
               <div class="clearfix m-b-30">
                  <div class="pull-left">
                     <a class="text-primary" href="javascript:void(0)">
                     <i class="zmdi zmdi-chevron-left m-r-5"></i>Chat list</a>
                  </div>
                  <div class="pull-right">
                     <strong><%= current_contact.fullname%></strong>
                  </div>
               </div>
               <div class="scw-item">
                  <span>No problem. The only thing i need is time.</span>
               </div>
               <div class="scw-item self">
                  <span>Fantastic...</span>
               </div>
               <div class="scw-item">
                  <span>I know. Fingers crossed!</span>
               </div>
               <div class="scw-item self">
                  <span>Meeting at 16:00 in the conference room.</span>
               </div>
               <div class="scw-item">
                  <span>Can't wait for the public launch!</span>
               </div>
               <div class="scw-form">
                  <form>
                     <input class="form-control" type="text" placeholder="Message...">
                     <button class="btn btn-default" type="button">
                     <i class="zmdi zmdi-chevron-right"></i>
                     </button>
                  </form>
               </div>
            </div>
         </div>
         <div class="tab-pane" id="tab-todo" role="tabpanel">
            <div class="sidebar-todo animated fadeIn">
               <div class="t-group">
                  <h5>Important</h5>
                  <div class="t-item">
                     <label class="custom-control custom-control-primary custom-checkbox">
                     <input class="custom-control-input" type="checkbox" name="mode" checked="checked">
                     <span class="custom-control-indicator"></span>
                     <span class="custom-control-label">Meet graphic designer</span>
                     </label>
                  </div>
                  <div class="t-item">
                     <label class="custom-control custom-control-primary custom-checkbox">
                     <input class="custom-control-input" type="checkbox" name="mode">
                     <span class="custom-control-indicator"></span>
                     <span class="custom-control-label">Interview</span>
                     </label>
                  </div>
                  <div class="t-item">
                     <label class="custom-control custom-control-primary custom-checkbox">
                     <input class="custom-control-input" type="checkbox" name="mode">
                     <span class="custom-control-indicator"></span>
                     <span class="custom-control-label">Press release</span>
                     </label>
                  </div>
                  <div class="t-item">
                     <label class="custom-control custom-control-primary custom-checkbox">
                     <input class="custom-control-input" type="checkbox" name="mode" checked="checked">
                     <span class="custom-control-indicator"></span>
                     <span class="custom-control-label">Call Bob</span>
                     </label>
                  </div>
               </div>
               <div class="t-group">
                  <h5>Secondary</h5>
                  <div class="t-item">
                     <label class="custom-control custom-control-primary custom-checkbox">
                     <input class="custom-control-input" type="checkbox" name="mode">
                     <span class="custom-control-indicator"></span>
                     <span class="custom-control-label">Design mock-up</span>
                     </label>
                  </div>
                  <div class="t-item">
                     <label class="custom-control custom-control-primary custom-checkbox">
                     <input class="custom-control-input" type="checkbox" name="mode">
                     <span class="custom-control-indicator"></span>
                     <span class="custom-control-label">Lunch with Marie</span>
                     </label>
                  </div>
                  <div class="t-item">
                     <label class="custom-control custom-control-primary custom-checkbox">
                     <input class="custom-control-input" type="checkbox" name="mode" checked="checked">
                     <span class="custom-control-indicator"></span>
                     <span class="custom-control-label">Copywriting</span>
                     </label>
                  </div>
               </div>
            </div>
         </div>
         <div class="tab-pane" id="tab-settings" role="tabpanel">
            <div class="sidebar-settings animated fadeIn">
               <div class="s-group">
                  <h5>Main</h5>
                  <div class="s-item">
                     <div class="text-truncate">Allow commenting</div>
                     <div class="si-checkbox">
                        <label class="switch switch-primary">
                        <input type="checkbox" name="switches" class="s-input" checked="checked">
                        <span class="s-content">
                        <span class="s-track"></span>
                        <span class="s-handle"></span>
                        </span>
                        </label>
                     </div>
                  </div>
                  <div class="s-item">
                     <div class="text-truncate">Allow editing</div>
                     <div class="si-checkbox">
                        <label class="switch switch-primary">
                        <input type="checkbox" name="switches" class="s-input">
                        <span class="s-content">
                        <span class="s-track"></span>
                        <span class="s-handle"></span>
                        </span>
                        </label>
                     </div>
                  </div>
                  <div class="s-item">
                     <div class="text-truncate">Allow copying</div>
                     <div class="si-checkbox">
                        <label class="switch switch-primary">
                        <input type="checkbox" name="switches" class="s-input">
                        <span class="s-content">
                        <span class="s-track"></span>
                        <span class="s-handle"></span>
                        </span>
                        </label>
                     </div>
                  </div>
               </div>
               <div class="s-group">
                  <h5>Notificatiоns</h5>
                  <div class="s-item">
                     <div class="text-truncate">Comments</div>
                     <div class="si-checkbox">
                        <label class="switch switch-primary">
                        <input type="checkbox" name="switches" class="s-input">
                        <span class="s-content">
                        <span class="s-track"></span>
                        <span class="s-handle"></span>
                        </span>
                        </label>
                     </div>
                  </div>
                  <div class="s-item">
                     <div class="text-truncate">Tasks</div>
                     <div class="si-checkbox">
                        <label class="switch switch-primary">
                        <input type="checkbox" name="switches" class="s-input" checked="checked">
                        <span class="s-content">
                        <span class="s-track"></span>
                        <span class="s-handle"></span>
                        </span>
                        </label>
                     </div>
                  </div>
               </div>
               <div class="s-group">
                  <h5>Security</h5>
                  <div class="s-item">
                     <div class="text-truncate">API Access</div>
                     <div class="si-checkbox">
                        <label class="switch switch-primary">
                        <input type="checkbox" name="switches" class="s-input" checked="checked">
                        <span class="s-content">
                        <span class="s-track"></span>
                        <span class="s-handle"></span>
                        </span>
                        </label>
                     </div>
                  </div>
                  <div class="s-item">
                     <div class="text-truncate">Unlimited workspace</div>
                     <div class="si-checkbox">
                        <label class="switch switch-primary">
                        <input type="checkbox" name="switches" class="s-input">
                        <span class="s-content">
                        <span class="s-track"></span>
                        <span class="s-handle"></span>
                        </span>
                        </label>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
